
.button2 {
  border-radius: 5px;
  width: 174px;
  height: 40px;
  background-color: #00285f;
  
}

.button2 h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: auto;
}



@media (min-width: 576px) {
 

}
