.home-container {
  min-width: 320px;
  padding: 15px 5px 121px 5px;
  display: flex;
  flex-direction: column;
  
}

.home-image-container {
  background-color: #00285f;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.home-image-container img {
  padding: 62px 20px 35px 20px;
  width: 100%;
  height: auto;
}

.home-text-container {
  align-content: center;
}

.home-image-container h1 {
  font-size: 22px;
  text-align: center;
  padding-bottom: 13px;
  color: #fff;
}

.home-image-container p {
  padding: 0 20px 25px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}


.home-container-botton {
  height: 123px;
  min-width: 300px;
  font-size: 14px;
  background-color: #ededed;
  padding-top: 28px;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;

 
}

.home-container-botton a{
 
  margin-left: 63px;

}


.home-container-botton p{
  color: #585858;
  font-size: 18px;
  margin-left: 54px;
  
}

@media (min-width: 375px) {
   
  .home-container-botton a{
    margin-left: 90px;
  
  }
  
  
  .home-container-botton p{
    margin-left: 80px;
    
  }


}

@media (min-width: 461px) {
  .home-container-botton {
  display: flex;
  flex-direction: row;
 
  }

  .home-container-botton a{
    margin-left: 80px;
    padding-left: 5px;
  }

  .home-container-botton p{
    margin-left: 5px;
    margin-top: 10px;
    
  }


  
}



@media (min-width: 576px) {
  .home-container {
    padding: 25px 20px 100px 20px;
  }

  .home-image-container img {
    padding: 22px 20px 20px 20px;
    width: 380px;
  }

  .home-image-container h1 {
    font-size: 32px;
    padding-bottom: 5px;
  }

  .home-image-container p {
    padding: 0 20px 20px 20px;
    font-size: 16px;
  }

  .home-container-botton {
    height: 123px;
    padding-top: 40px;
    padding-left: 60px;
    display: flex;
    justify-content: left;
  }

  .home-container-botton p{
    padding-left: 5px;
    
  }
}

@media (min-width: 768px) {
  .home-image-container img {
    padding: 40px 20px 20px 20px;
  }

  .home-image-container h1 {
    font-size: 36px;
  }

  .home-image-container p {
    padding: 0 40px 60px 40px;
    font-size: 18px;
  }

  .home-container-botton {
    height: 123px;
    padding-top: 40px;
    padding-left: 60px;
    display: flex;
    justify-content: left;
  }

  .home-container-botton p{
    padding-left: 5px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px 100px 150px;
  }

  .home-image-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .home-text-container {
    width: 470px;
    padding-bottom: 50px;
  }

  .home-image-container img {
    padding: 100px 78px 0px 0px;
    width: 370px;
    height: 260px;
  }

  .home-image-container h1 {
    padding: 0px 0px 0px 0px;
    padding-top: 120px;
    text-align: left;
    font-size: 38px;
  }

  .home-image-container p {
    padding: 0px 0px 40px 0px;
    font-size: 20px;
    text-align: left;
   
  }

  @media (min-width: 1400px) {

    .home-image-container h1 {
      padding: 120px 0px 0px 0px;
      text-align: left;
      font-size: 38px;
    }
  
    .home-image-container p {
      padding: 0px 0px 0px 0px;
      font-size: 20px;
      text-align: left;
     
    }
  }
}